<launch>
	<rosparam file="$(find wheels)/config/controller_params.yaml" command="load" />
	<rosparam file="$(find general)/config/general_params.yaml" command="load" />
	<node pkg="wheels" type="controller" name="controller" />

    <!-- Left Motor -->
	<node name="left_motor" pkg="phidgets" type="motor" args="_serial:=473027 __name:=left_motor _name:=left_motor _frequency:=125" >
		<param name="_serial" value="473027" />
		<param name="__name" value="left_motor" />
		<param name="_name" value="left_motor" />
		<param name="_frequency" value="125" />
	</node>

	<!-- Right Motor -->
	<node name="right_motor" pkg="phidgets" type="motor" args="_serial:=475396 __name:=right_motor _name:=right_motor _frequency:=125" >
		<param name="_serial" value="475396" />
		<param name="__name" value="right_motor" />
		<param name="_name" value="right_motor" />
		<param name="_frequency" value="125" />
	</node>
</launch>
