<launch>
	<!-- export ROS_MASTER_URI=http://192.168.1.206:11311 -->

	<!-- Odomotry -->
	<node name="odomotry" pkg="odometry" type="odometry" />

	<!-- Localization -->
	<node name="localization" pkg="localization" type="localization.py" />

	<!-- Keyop -->
	<include file="$(find keyop)/launch/keyop.launch"/>

	<!-- Key Controller -->
	<include file="$(find key_controller)/launch/key_controller.launch"/>

	<!-- Wheel Controller -->
	<include file="$(find wheels)/launch/controller.launch"/>
	<!-- <node name="controller" pkg="wheels" type="controller.py" /> -->
</launch>
